div.about {
  text-align: center;
  color: red
}
img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  text-align: center;
  color: teal
}

h3 {
  text-align: center;
  color: blue

}
h2 {
  text-align: center;
  color: blue
}
